# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code workspace
.vscode/

# (Optional) data and model files if large
# comment these two lines if you want to upload models
# data/
# models/
